<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-center text-center">
        <div class="img-wrap">
          <img src="<%= asset_url('aozora2.jpg') %>" class="card-img top-img" alt="Card image">
          <img src="<%= asset_url('23435095_s.jpg') %>" class="card-img top-img2" alt="Card image" >
        </div>
        <div class="card-img-overlay top-title">
          <div class="mt-5 text-black">
            <font face="Comic Sans MS">
              <h1>Welcome to PAPATOMO！</h1>
            </font>
          </div>
        </div>
        <div class="card-img-overlay top-text">
          <div class="mt-5 text-black">
            <font face="fantasy">
              <h3>子育てをもっと楽しくしよう！</h3>
            </font>
          </div>
        </div>
        <div class="card-img-overlay top-btn">
          <%= link_to '新規登録', new_end_user_registration_path, class: 'btn btn-warning btn-lg active' %>
        </div>
      </div>
    </div>
  </div>
</div>
